.random_button {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 3px black;
    -moz-box-shadow: 0px 1px 3px black;
    box-shadow: 0px 1px 3px black;
    font-family: Arial;
    color: #8fce00;
    font-size: 60px;
    padding: 20px;
    padding-inline: 3%;
    background: #274e13;
    text-decoration: none;
}

.random_button:hover {
    color: #b3ff00;
    background: #93c47d;
    text-decoration: none;
}

body {
    z-index: 1;
}

.display {
    text-align: center;
    padding-top: 20%;
    padding-bottom: 5%;
}

.centerd {
    text-align: center;
}
body
{
    background-color: #3776ab;
    position: relative;
}